<div class="ppio-title">
  <div class="container">
    <img class="title-big-logo"
         src="<%= bigLogo %>"
         srcset="<%= bigLogo %> 1x, <%= bigLogo2x %> 2x"
         alt="">
    <h2 class="ppio-big-title"><%= title %></h2>
    <div class="ppio-title-btns">
      <a class="ppio-anchor title-btn getstarted"><%= getStarted %></a>
    </div>
  </div>
</div>
