<!DOCTYPE html>
<html lang="<%= htmlLang %>">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <%= head %>
  <% cssChunks.forEach(function(cssChunk){ %>
    <link rel="preload" href="<%= cssChunk %>" as="style">
  <% }); %>
  <% headScripts.forEach(function(headChunk){ %>
    <link rel="preload" href="<%= headChunk %>" as="script">
  <% }); %>
  <% prefetchLinks.forEach(function(link){ %>
    <link rel="prefetch" href="<%= link.href %>">
  <% }); %>

  <% cssChunks.forEach(function(cssChunk){ %>
    <link rel="stylesheet" href="<%= cssChunk %>">
  <% }); %>
  <% headScripts.forEach(function(headChunk){ %>
    <script type="text/javascript" src="<%= headChunk %>"></script>
  <% }); %>
</head>
<body class="<%= lang %>">
  <%= header %>
  <%= title %>
  <%= advantages %>
  <%= scenario %>
  <%= community %>
  <%= footer %>
  <% bodyScripts.forEach(function(bodyChunk){ %>
    <script type="text/javascript" src="<%= bodyChunk %>"></script>
  <% }); %>
</body>
</html>
