<div class="ppio-advantages ppio-page-block" id="advantages">
  <div class="container">
    <h3 class="advantages-title"><%= title %></h3>
    <div class="advantages-content">
      <% advantages.forEach(function(adv){ %>
        <a href="<%= adv.link ? adv.link : 'javascript:void(0)' %>" class="advantage-block" target="_blank">
          <div class="advantage_<%= adv.name %>">
            <div class="advantage-title-wrap">
              <img class="advantage-icon"
                   src="<%= adv.icon %>"
                   srcset="<%= adv.icon %> 1x, <%= adv.icon2x %> 2x, <%= adv.icon3x %> 3x"
                   alt="<%= adv.name %>">
              <h4 class="advantage-title"><%= adv.title %></h4>
            </div>
            <p class="advantage-intro"><%= adv.intro %></p>
            <span href="javascript:void(0);" class="more <%= adv.link ? '' : 'none' %>" target="_blank">detail â¡</span>
          </div>
        </a>
      <% }); %>
    </div>
  </div>
</div>
