<div class="ppio-community ppio-page-block" id="cummunity">
  <div class="container">
    <h3 class="community-title"><%= title %></h3>
    <p class="community-subtitle"><%= followTitle %></p>
    <div class="community-subscribe">
      <input type="email" id="subscribe-email" placeholder="email">
      <button class="subscribe-btn"><%= subscribe %></button>
    </div>
    <p class="community-splitter">or</p>
    <p class="community-subtitle"><%= joinTitle %></p>
    <a class="ppio-anchor community-btn join-btn" rel="noopener" href="<%= joinLink %>" target="_blank"><%= joinUs %></a>
  </div>
</div>
