<div class="ppio-community ppio-page-block" id="cummunity">
  <div class="container">
    <h3 class="community-title"><%= title %></h3>
    <p class="community-subtitle"><%= followTitle %></p>
    <div class="community-subscribe">
      <input type="email" placeholder="your email address">
      <button class="ppio-anchor subscribe-btn"><%= subscribeUs %></button>
    </div>
    <p>or</p>
    <p class="community-subtitle"><%= joinTitle %></p>
    <a class="ppio-anchor community-btn join-btn" href="<%= joinLink %>" target="_blank"><%= joinUs %></a>
  </div>
</div>
