<footer class="ppio-footer footer_<%= theme %>">
  <div class="container">
    <div class="social">
      <% social.forEach(function(platform){ %>
        <a class="footer-social-link social_<%= platform.platform %>" href="<%= platform.link %>"><%= platform.platform %></a>
      <% }); %>
    </div>
    <h1 class="logo">
      <%= title %>
      <span class="logo-image"></span>
    </h1>
    <p class="copyright"><%= copyright %></p>
  </div>
</footer>
