<header class="index-header">
  <div class="container">
    <h1 class="logo">
      {{title}}
      <img src="../../../assets/img/logo.svg" alt="">
    </h1>
    <nav>
      <a href="#intro">{{nav.intro}}</a>
      <a href="#main">{{nav.main}}</a>
      <a href="#team">{{nav.team}}</a>
      <a href="#support">{{nav.support}}</a>
      <a href="#partners">{{nav.partners}}</a>
    </nav>
  </div>
</header>
