<header class="ppio-header header_<%= theme %>">
  <div class="container">
    <div class="header-content">
      <h1 class="logo">
        <%= title %>
        <a class="top-anchor" href="#"><span class="logo-image"></span></a>
        <span class="logo-text"></span>
      </h1>
      <span class="nav-handler">
        <span class="handler-bar bar1"></span>
        <span class="handler-bar bar2"></span>
        <span class="handler-bar bar3"></span>
      </span>
    </div>
    <nav class="nav">
      <div class="nav-content">
        <% nav.forEach(function(navItem){ %>
          <a
            class="nav-item <%= curPage === navItem.page ? 'active' : '' %>"
            href="<%= navItem.href %>"
            target="<%= navItem.page === 'github' || navItem.page === 'blog' ? '_blank' : '_self' %>">
            <span><%= navItem.name %></span>
          </a>
        <% }); %>
      </div>
    </nav>
  </div>
</header>
