<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="<%= des %>">
<meta name="keywords" content="<%= keywords %>">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<meta property="og:title" content="<%= title %>">
<meta property="og:site_name" content="ppio">
<meta property="og:description" content="<%= des %>">
<meta property="og:type" content="site">
<meta property="og:url" content="<%= url %>">
<meta property="og:image" content="<%= appIconXXL %>">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ppio">
<meta name="twitter:description" content="<%= des %>">
<meta name="twitter:image" content="<%= appIconXXL %>">
<link rel="shortcut icon" type="image/png" href="<%= favicon %>">
<link rel="apple-touch-icon-precomposed" href="<%= appIcon %>">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= appIconL %>">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= appIconL %>">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= appIconXL %>">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128641089-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128641089-1');
</script>
