<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="<%= des %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="PPIO, Inc.">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PPIO">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= des %>">
<meta property="og:url" content="https://pp.io">
<meta property="og:image" content="https://pp.io/share.png">
<meta property="og:image:alt" content="PPIO">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@PPLabs_PPIO">
<meta property="twitter:creator" content="@PPLabs_PPIO">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= des %>">
<meta property="twitter:url" content="https://pp.io">
<meta property="twitter:image" content="https://pp.io/share.png">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="<%= url %>" />
<link rel="shortcut icon" type="image/png" href="<%= favicon %>">
<meta name="theme-color" content="#ffffff" />
<link rel="canonical" href="<%= url %>" />
<meta name="apple-mobile-web-app-title" content="PPIO">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
<meta name="msapplication-navbutton-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<link rel="apple-touch-icon-precomposed" href="<%= appIcon %>">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= appIconL %>">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= appIconL %>">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= appIconXL %>">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Roboto" rel="stylesheet">
<!-- google structured social data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "PPIO",
  "url": "http://www.pp.io",
  "sameAs": [
    "https://www.facebook.com/PPIO-178595523020994/",
    "https://twitter.com/PPLabs_PPIO",
    "https://medium.com/@ppio",
    "https://www.youtube.com/channel/UCFRyuBY-PxoSaFmj5Evs5kQ",
    "https://www.linkedin.com/company/pplabs/",
    "https://github.com/ppio",
    "https://www.reddit.com/r/ppio",
    "https://author.baidu.com/home/1622354645176193",
    "https://www.zhihu.com/org/ppio-62/activities",
    "https://www.toutiao.com/m1608201460696068/"
  ]
}
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128641089-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128641089-1');
</script>
